Builds/VisualStudio2017/x64/
Builds/VisualStudio2017/.vs/AudioAppTest/v15/.suo
Builds/VisualStudio2017/.vs/AudioAppTest/v15/Browse.VC.db
Builds/VisualStudio2017/.vs/AudioAppTest/v15/ipch/AutoPCH/14c78f17779abb88/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
Builds/VisualStudio2017/.vs/
